*.o
countdown
treintre
tavola
max
2max
quadrato
quadrato_vuoto
cerchio2
count_cifra
palindromo
binario
cri_decri
sequenze
somma_prodotto
fattoriale
figure
rombo
pi_greco
sumvett
address
caratteri
basi